.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.feature {
  height: 100%;
  padding: 1.5rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.feature h3 {
  color: var(--ifm-color-primary);
}
